repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: end-of-file-fixer
      - id: trailing-whitespace
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        language_version: python3
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]
  - repo: https://github.com/pre-commit/mirrors-eslint
    rev: v9.15.0
    hooks:
      - id: eslint
        args: ["--ext", ".ts,.tsx", "frontend/src"]
        additional_dependencies:
          - eslint@9.15.0
          - eslint-plugin-react@7.37.2
          - @typescript-eslint/parser@8.15.0
          - @typescript-eslint/eslint-plugin@8.15.0
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-beta.10
    hooks:
      - id: prettier
        additional_dependencies:
          - prettier@3.3.3
